.jumbotron{
    background-color: lightblue;
    margin:10px 5% -15px ;
    border-radius: 5px;
    padding-left: -10px;
}
.jumbotron:hover{
    background-color: rgb(0, 124, 202);
    transition-duration: 400ms;
}
.btn{
    margin-top: 10px;
    float: right;
}
.dp4:hover{
    cursor: pointer;
}
.headingblog{
    margin-left: 5%;
}
/* .btn1{
    margin-right: -0%;
}*/
 /* .btn2{
    margin-right: -30%;
    
}
/* .btn3{
    margin-left: -30%;
}  
.btn1{
    margin-right: 65%;
} */

/* @media only screen and (min-width:1400px) {
    .btn1{
        margin-right: -143%;
    }
    .btn2{
        margin-right: -70%;   
    }
}
@media only screen and (min-width:1200px)and (max-width:1400px) {
    .btn1{
        margin-right: -130%;
    }
    .btn2{
        margin-right: -64%;   
    }
}
@media only screen and (min-width:1000px) and (max-width:1200px) {
    .btn1{
        margin-right: -90%;
    }
    .btn2{
        margin-right: -40%;   
    }
}
@media only screen and (min-width:766px) and (max-width:1000px) {
    .btn1{
        margin-right: -70%;
    }
    .btn2{
        margin-right: -30%;   
    }
} */
@media only screen and (min-width:500px) and (max-width:766px) {
    .btn{
        margin-right: 400px;
        margin-left: -400px;
    }
    .btn1{
        margin-right: -10%;
    }
    .btn2{
        margin-right: -12%;   
    }
    .btn3{
        margin-right: -25%;
    }
}
@media only screen and (min-width:300px) and (max-width:766px) {
    .btn{
        margin-right: 400px;
        margin-left: -400px;
        width: 60px;
    }
    .jumbotron{
        font-size: 100px;
    }
    .btn1{
        margin-right: -10%;
    }
    .btn2{
        margin-right: -12%;   
    }
    .btn3{
        margin-right: -25%;
    }
}