.logo{
    margin-left: 20px;
    margin-bottom: 5px;
}
.btnforsrch{
    border-radius: 5px;
    border-color: white;
    background-color: rgb(45, 151, 237);
    color: white;
    width: 70px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    height: 38px;
}
.btnforsrch:hover{
    background-color: rgb(2, 115, 207);
    cursor: pointer;
}

@media only screen and (max-width: 575px) {
    
    li {
        margin-left: 20px;
      }
      .search{
          margin-left: 10px;
      }
  }

@media only screen and (min-width:575px) and (max-width: 991px) {
    li {
      margin-left: 20px;
    }
    .search{
        margin-left: 7px;
    }
  }
  @media only screen and (min-width: 991px) and (max-width:1100px) {
    .search{
        margin-left: 40%;
    }
  }  
  @media only screen and (min-width: 1100px){
    .search{
        margin-left: 50%;
    }
     
  }  