 .dp2{
    margin: 0% 5%;
}
 .ld{
    margin: 0% 0% 0 30%;
} 
.blog{
    margin: 5%;
} 
.discription{
    font-style: oblique;
    font-size: large;
    
}
.disc{
    display: flex;
    margin: 0 10% 0 5%;
} 
