.content{
    margin-top: 5%;
    margin-left: 10%;
}
.head{
    margin-left: 10%;
}
/* .inp{
    margin-right: 10%;
    border-radius: 0px;
    border-color: rgb(78, 147, 207);
    border-width: 1px;
    background-color: rgb(233, 233, 233);
}
.inp:{
    background-color: aqua;
} */
.in{
    margin-top: 10px;
}
.form{
    display: flex;
}
.col1{
    margin-right: 10px;
}

.btnforsrch1{
    border-radius: 5px;
    border-color: white;
    background-color: rgb(45, 151, 237);
    color: white;
    width: 70px;
    padding-bottom: 10px;
    padding-top: 7px;
    padding-left: 10px;
    height: 38px;
    margin-left: 10%;
    margin-top: 5%;
}
.btnforsrch1:hover{
    background-color: rgb(2, 115, 207);
    cursor: pointer;
}